/Main.class
/Command.class
/CommandList.class
/UI.class
/CommandList$Command.class
/Help.class
/Oepn.class
/WorkingDirectory.class
/Open.class
/Cat.class
/UserCommand.class
/CommandList$Com.class
/Ls.class
/WorkDirectory.class
/WorkDir$InnerInstanceClazz.class
/WorkDir.class
